<mat-form-field>
    <mat-label>Tipo de trabajo</mat-label>
    <select matNativeControl required>
      <option value="Residencia">Asalariado</option>
      <option value="Trabajo">independiente</option>
    </select>
  </mat-form-field>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Empresa">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Direccion donde labora">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Cargo">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Pais donde labora">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Telefono donde labora">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Correo corporativo">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Confirme el correo">
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Apartado aéreo">
    </mat-form-field>
  </form>
  <div>
    <button mat-button matStepperPrevious class="btn btn-light">Cancelar</button>
    &nbsp;
    <button mat-button matStepperNext class="buttonudem">Siguiente</button>
  </div>
  <br>
  <div>
    <p>Sigue: Requisitos y documentos</p>
  </div>