<mat-sidenav-container class="sidenav-container" style="overflow: visible">
  <mat-sidenav-content class="">
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" class="toolbar" fxLayoutAlign="center top">
        <div fxFlex.gt-sm="1024px" fxLayout="row" fxFlex.lt-md="100" fxLayoutAlign.gt-sm="center top"
          fxLayoutAlign.sm="space-between top" fxLayoutAlign.xs="end top">
          <img src="assets/images/udem_logo.png" fxShow.gt-sm="true" fxShow.xs="false" fxFlexAlign="center">
        </div>
        <span style="margin: auto; font-size: 36px; font-weight: 400" fxShow.sm="false" fxShow.xs="false">
          <strong>Solicitud de Grados</strong></span>
      </mat-toolbar-row>
    </mat-toolbar>


    <app-solicitud-grados></app-solicitud-grados>

  </mat-sidenav-content>

</mat-sidenav-container>