<div>
    <mat-icon>description</mat-icon> <label>Documento&nbsp;&nbsp;</label>
    <mat-icon>settings</mat-icon> <label>Requisito Automatico&nbsp;&nbsp;</label>
    <mat-icon style="color: green">check_circle</mat-icon><label>Requisito cumplido&nbsp;&nbsp;</label>
    <mat-icon style="color: yellow">report_problem</mat-icon><label>Alerta requisito&nbsp;&nbsp;</label>
  </div>
  <br>
  <div>
    <label>Requisito o documento para grado</label>
  </div>
  <br>
  <table class="mat-elevation-z8" style="margin: 15px">
    <tr>
      <td>
        <mat-icon>description</mat-icon> <label>Registro civil de nacimiento&nbsp;&nbsp;</label>
      </td>
      <td>
        <mat-icon style="color: blue">search</mat-icon><a style="color: blue" href="url">Previsualizar</a>
      </td>
      <td>
        <mat-icon style="color: blue"> publish</mat-icon><a style="color: blue" href="">Subir o reemplazar</a>
      </td>
      <td>
        <mat-icon style="color: yellow">report_problem</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>description</mat-icon> <label>Diploma de bachillerato&nbsp;&nbsp;</label>
      </td>
      <td>
        <mat-icon style="color: blue">search</mat-icon><a style="color: blue" href="url">Previsualizar</a>
      </td>
      <td>
        <mat-icon style="color: blue"> publish</mat-icon><a style="color: blue" href="">Subir o reemplazar</a>
      </td>
      <td>
        <mat-icon style="color: yellow">report_problem</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>description</mat-icon> <label>Fotocopia del documento de identificación&nbsp;&nbsp;</label>
      </td>
      <td>
        <mat-icon style="color: blue">search</mat-icon><a style="color: blue" href="url">Previsualizar</a>
      </td>
      <td>
        <mat-icon style="color: blue"> publish</mat-icon><a style="color: blue" href="">Subir o reemplazar</a>
      </td>
      <td>
        <mat-icon style="color: yellow">report_problem</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Pruebas ICFES&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Plan de formación&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Procesos disciplinarios&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Segunda Lengua&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Protocolo&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Saber Pro&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Practica empresarial&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Paz y salvo Biblioteca&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Paz y salvo financiero&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>

    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Revisión y actualizacion de datos personales y
          laborales&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>description</mat-icon> <label>Fotografía para carné egresado(a)&nbsp;&nbsp;</label>
      </td>
      <td>
        <mat-icon style="color: blue">search</mat-icon><a style="color: blue" href="url">Previsualizar</a>
      </td>
      <td>
        <mat-icon style="color: blue"> publish</mat-icon><a style="color: blue" href="">Subir o reemplazar</a>
      </td>
      <td>
        <mat-icon style="color: yellow">report_problem</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>settings</mat-icon> <label>Preparatorio Programa de Derecho&nbsp;&nbsp;</label>
      </td>
      <td></td>
      <td>
        <mat-icon style="color: blue">info</mat-icon> <a href="" style="color: blue">&nbsp;&nbsp;Información</a>
      </td>
      <td>
        <mat-icon style="color: green">check_circle</mat-icon>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>description</mat-icon> <label>Certificado de egresado expedido por la Facultad de
          Derecho&nbsp;&nbsp;</label>
      </td>
      <td>
        <mat-icon style="color: blue">search</mat-icon><a style="color: blue" href="url">Previsualizar</a>
      </td>
      <td>
        <mat-icon style="color: blue"> publish</mat-icon><a style="color: blue" href="">Subir o reemplazar</a>
      </td>
      <td>
        <mat-icon style="color: yellow">report_problem</mat-icon>
      </td>
    </tr>
  </table>
  <div>
    <button mat-button matStepperPrevious class="btn btn-light">Cancelar</button>
    &nbsp;
    <button mat-button matStepperNext class="buttonudem">Enviar solicitud de grados</button>
  </div>