<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>En los próximos 4-5 dias habiles será revisada por parte del EQUIPO DE APROBACIÓN de solicitud de grado y
      podra verla aprobada o rechazada en la lista de solicitudes de grado.Si tiene alguna duda por favor dirijase a
      la oficina de admisiones para ampliar este procedimiento</p>
  </div>
  <div>
    <button mat-button matStepperPrevious class="btn btn-light">Ir a mis solicitudes</button>
    &nbsp;
    <button mat-button matStepperNext class="buttonudem">Finalizar y volver</button>
  </div>
