// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$font-stack: Helvetica, sans-serif;
$primary-color: #c20c19;
$primary-color-light: rgba(194, 12, 25, 0.51);
$logo-login-size: 150px;

$mat-principal: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: $primary-color,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #046aed,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: $white-87-opacity,
  )
);

$mat-accept: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #0384c2,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #046aed,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: $white-87-opacity,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-principal);
$app-accent: mat-palette($mat-accept, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.message-ERROR {
  background-color: #ff4d44;
}

.message-ERROR-L {
  background-color: rgba(255, 77, 68, 0.5);
}

.message-INFO {
  background-color: #96cfd18a;
}

.title-dialog {
  text-align: center;
  font-size: 22px;
  color: #7c878e;
  font-weight: 300;
  border-bottom-style: double;
  border-bottom-color: $primary-color;
  padding-bottom: 8px !important;
}

.title-text {
  text-align: left;
  font-size: 22px;
  color: #7c878e;
  font-weight: 300;
  border-bottom-style: double;
  border-bottom-color: $primary-color;
  padding-bottom: 8px !important;
}

.message-WARN {
  background-color: #c28d3b;
}

.table tr:nth-child(even) {
  background: #efefef;
}

.table .mat-header-row {
  background: #efefef;
}

.selected-menu {
  color: $primary-color;
  font-weight: bold;
}

.text-color {
  color: #7c878e;
}
